# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
*.log

# OS metadata
.DS_Store
Thumbs.db

# Credentials & environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
google-credentials.json
google-property-id.txt

# Local databases or temp files
db.sqlite3
*.db
